.dNone{
    display:none;
}

.dBlock{
    display:block;
    margin:  1.2rem;
    
}

@media (min-width:992px) {
    .dBlock{
        margin: 20px 100px;
    }
      
}

.mapContainer{
    margin-bottom: 120px;
}